<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zing.compass.mapper.CommentMapper">
    <insert id="insertComment">
        INSERT INTO comment (comment_id, user_id, biz_id, score, content, timestamp)
        VALUES (#{commentId}, #{userId}, #{bizId}, #{score}, #{content}, #{timestamp})
    </insert>

    <select id="selectCommentsByBizId" resultType="com.zing.compass.entity.Comment">
        SELECT * FROM comment
        WHERE biz_id = #{bizId}
        ORDER BY timestamp DESC
    </select>

    <select id="selectCommentsByUserId" resultType="com.zing.compass.entity.Comment">
        SELECT * FROM comment
        WHERE user_id = #{userId}
        ORDER BY timestamp DESC
    </select>

    <select id="selectRecentCommentBiz" resultType="com.zing.compass.entity.UserBehavior">
        SELECT biz_id AS bizId, 0 AS behaviorType, UNIX_TIMESTAMP(timestamp) * 1000 AS timestamp
        FROM comment
        WHERE user_id = #{userId}
        ORDER BY timestamp DESC
        LIMIT #{limit}
    </select>

    <select id="selectCommentsByBizIdPage" resultType="com.zing.compass.entity.Comment">
        SELECT comment_id, user_id, biz_id, score, content, timestamp
        FROM comment
        WHERE biz_id = #{bizId}
        ORDER BY timestamp DESC
        LIMIT #{offset}, #{limit}
    </select>

    <select id="countCommentsByBizId" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM comment
        WHERE biz_id = #{bizId}
    </select>
</mapper>